{% if
    infinitytracking_infinity_javascript.igrp is defined and
    attribute(infinitytracking_infinity_javascript.dgrps, dgrp) is defined and
    attribute(infinitytracking_infinity_javascript.dgrps, dgrp).fallback is defined and
    attribute(infinitytracking_infinity_javascript.dgrps, dgrp).classes[0] is defined
%}
    <span class="{{ attribute(infinitytracking_infinity_javascript.dgrps, dgrp).classes[0] }}">attribute(infinitytracking_infinity_javascript.dgrps, dgrp).fallback</span>
{% endif %}
